h2{
  text-align: center;
}

#querySearch{
  margin-top:50px;
  margin-right:80px;
}

#siteName{
  text-align: center;
  font-size:48px;
}

body {
  width: 100%;
  background-color: grey;
}
  
#myCarousel{
  padding-bottom: 20px;
}

#description{
  background-color:white;
  padding:30px;
  width: 80%;
  margin-left:10%;
  font-size:36px;
  font-family: 'Raleway', sans-serif;
  border-style: solid;
  text-align:justify;
}

form{
  border-right-style: dotted;
  border-left-style: dotted;
  padding-left: 10px;
  padding-right: 10px;
  margin-top:25px;
}

.btn{
  margin-left:44%;
  margin-bottom:50px;
}

div.carousel-caption{
  font-size:72px;
  font-family: 'Dosis', sans-serif;
  position: absolute;
  left: -400px;
}